#frm{
      margin-top: 100px;
     }
     #btn{
  color: #fff;
  background: #337ab7;
  padding: 5px;
  margin-left: 50%;
}
.myOtherTable { width:50%;background-color:#FFFFE0;border-collapse:collapse;color:#000;font-size:18px; }
.myOtherTable th { background-color:#BDB76B;color:white;width:50%;font-variant:small-caps; }
.myOtherTable td, .myOtherTable th { padding:5px;border:0; }
.myOtherTable td { font-family:Georgia, Garamond, serif; border-bottom:1px solid #BDB76B;height:50px; }